*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'EuclidCircularARegular';
    src: url('./fonts/EuclidCircularARegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body{
    font-family: 'EuclidCircularARegular';
}

.mob-card-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }